@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-color: #dbb754;
  --secondary-color: #060709;
  --tertiary-color: #cc9210;
}
.header{
  font-family: Helvetica;
  background: var(--secondary-color);
  color: var(--primary-color);
  width: 70%;
  height: 5vh;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.6);
}

.header-container {
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}

.header-logo {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--secundary-color);
}