
.carrusel-contenido {
  width: 75%;
  border-radius: 1px;
  border: solid 2px #dbb754;
  height: 100%;
}

.swiper-slide {
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
}